@import url('https://fonts.googleapis.com/css2?family=Mada&family=Montserrat&family=Poppins:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1{

    font-family: 'Poppins', sans-serif;
}