@import url('https://fonts.googleapis.com/css2?family=Mada&family=Montserrat&family=Poppins:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que a imagem tenha o tamanho da pagina */
}
:root{ /*para facilitar a conversão das fontes do navegador*/
    font-size: 62.5%; /* 10px (alvo definido no Figma)  dividido pelo padrão do navegador que é 16px*/
}
header{
    height: 100vh; /*altura da pagina*/
    background-image: url('../images/image02.jpg');/*.. para achar o diretorio PAI*/
/*salva a imagem no seu computador e depois arrasta para a pasta do projeto*/
    background-size: cover; /*navegador calcula o tamanho da imagem*/
    color: #ffffff;
    /*shorthand unifica as propriedades do mesmo comando*/
    padding: 21rem 11rem ; /*1° valor de cima e embaixo  - 2º direita e esquerda*/
   /* padding-left: 11rem;*/
}
h1{

    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 6rem ;
}
span{
    font-family: 'Montserrat';
    font-size: 4.5rem;
}
.botao{
    padding: 1.4rem 11rem;
    background: linear-gradient(90deg, #ffffff 05, #6666666 100%);
    border-radius: 10px;
    font-family:"moserat"
    font-size: 3rem;
    color:#ffffff;
    text-shadow: 0px 2 px 2px  #ffffff 05, #6666666 100%;
    text-decoration:none


}